# House Prices: Advanced Regression Techniques

## 1. Getting data with Pandas

In [91]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, StandardScaler, OneHotEncoder

In [92]:
train_data = pd.read_csv('all/train.csv')
test_data  = pd.read_csv('all/test.csv')

In [96]:
train_label = train_data['SalePrice']
train_data_input = train_data.drop('SalePrice',1)
all_data   = pd.concat([train_data_input, test_data], axis=0)

print('Data Shape:\n')
print('Train Data \t\t:', train_data.shape)
print('Train Data(Input)\t:',train_data_input.shape)
print('Test  Data(Input)\t:',test_data.shape)
print('All Data \t\t:',all_data.shape)

Data Shape:

Train Data 		: (1460, 81)
Train Data(Input)	: (1460, 80)
Test  Data(Input)	: (1459, 80)
All Data 		: (2919, 80)

## 2. Data exploration

In [98]:
all_data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
count,2919.000000,2919.000000,2433.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2896.000000,2918.000000,...,2918.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000
mean,1460.000000,57.137718,69.305795,10168.114080,6.089072,5.564577,1971.312778,1984.264474,102.201312,441.423235,...,472.874572,93.709832,47.486811,23.098321,2.602261,16.062350,2.251799,50.825968,6.213087,2007.792737
std,842.787043,42.517628,23.344905,7886.996359,1.409947,1.113131,30.291442,20.894344,179.334253,455.610826,...,215.394815,126.526589,67.575493,64.244246,25.188169,56.184365,35.663946,567.402211,2.714762,1.314964
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000
25%,730.500000,20.000000,59.000000,7478.000000,5.000000,5.000000,1953.500000,1965.000000,0.000000,0.000000,...,320.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000
50%,1460.000000,50.000000,68.000000,9453.000000,6.000000,5.000000,1973.000000,1993.000000,0.000000,368.500000,...,480.000000,0.000000,26.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000
75%,2189.500000,70.000000,80.000000,11570.000000,7.000000,6.000000,2001.000000,2004.000000,164.000000,733.000000,...,576.000000,168.000000,70.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000
max,2919.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,1488.000000,1424.000000,742.000000,1012.000000,508.000000,576.000000,800.000000,17000.000000,12.000000,2010.000000

In [99]:
missing_data = all_data.isnull().sum().sort_values(ascending=False)
missing_data = missing_data[missing_data > 0]

In [100]:
count        = all_data.isnull().sum().sort_values(ascending=False)
percent_relt = all_data.isnull().sum() / all_data.isnull().count()
percent_relt = percent_relt.sort_values(ascending=False)*100

missing_data_perc  = pd.concat([count, percent_relt], axis=1, keys = ['Count', 'Percent(%)'])
missing_data_perc.head(40)

              Count  Percent(%)
PoolQC         2909   99.657417
MiscFeature    2814   96.402878
Alley          2721   93.216855
Fence          2348   80.438506
FireplaceQu    1420   48.646797
LotFrontage     486   16.649538
GarageCond      159    5.447071
GarageQual      159    5.447071
GarageYrBlt     159    5.447071
GarageFinish    159    5.447071
GarageType      157    5.378554
BsmtCond         82    2.809181
BsmtExposure     82    2.809181
BsmtQual         81    2.774923
BsmtFinType2     80    2.740665
BsmtFinType1     79    2.706406
MasVnrType       24    0.822199
MasVnrArea       23    0.787941
MSZoning          4    0.137033
BsmtHalfBath      2    0.068517
Utilities         2    0.068517
Functional        2    0.068517
BsmtFullBath      2    0.068517
BsmtFinSF1        1    0.034258
Exterior1st       1    0.034258
Exterior2nd       1    0.034258
BsmtFinSF2        1    0.034258
BsmtUnfSF         1    0.034258
TotalBsmtSF       1    0.034258
SaleType          1    0.034258
Electrical        1    0.034258
KitchenQual       1    0.034258
GarageArea        1    0.034258
GarageCars        1    0.034258
HouseStyle        0    0.000000
LandSlope         0    0.000000
MSSubClass        0    0.000000
LotArea           0    0.000000
Street            0    0.000000
LotShape          0    0.000000

## 3. Prepare data

## 3.1 Drop Missing Data

In [76]:
#all_data = all_data.drop((missing_data_perc[missing_data_perc['Percent(%)'] > 25]).index, 1)
all_data = all_data.drop((missing_data_perc[missing_data_perc['Percent(%)'] > 50]).index, 1)
all_data = all_data.drop('LotArea', 1)
all_data = all_data.drop('YearBuilt', 1)
all_data = all_data.drop('BsmtFinSF1', 1)

all_data = all_data.drop('BsmtFinSF2', 1)
all_data = all_data.drop('BsmtUnfSF', 1)
all_data = all_data.drop('TotalBsmtSF', 1)

all_data = all_data.drop('GarageArea', 1)
all_data = all_data.drop('WoodDeckSF', 1)
all_data = all_data.drop('OpenPorchSF', 1)
all_data = all_data.drop('EnclosedPorch', 1)
all_data = all_data.drop('3SsnPorch', 1)
all_data = all_data.drop('ScreenPorch', 1)

## 3.2 Fill Missing Data

In [77]:
all_data['FireplaceQu']  = all_data['FireplaceQu'].fillna('NA')
all_data['LotFrontage']  = all_data['LotFrontage'].fillna(0)
all_data['GarageCond']   = all_data['GarageCond'].fillna('NA')
all_data['GarageType']   = all_data['GarageType'].fillna('NA')
all_data['GarageFinish'] = all_data['GarageFinish'].fillna('NA')
all_data['GarageQual']   = all_data['GarageQual'].fillna('NA')
all_data['BsmtExposure'] = all_data['BsmtExposure'].fillna('NA')
all_data['BsmtFinType2'] = all_data['BsmtFinType2'].fillna('NA')
all_data['BsmtFinType1'] = all_data['BsmtFinType1'].fillna('NA')
all_data['BsmtCond']     = all_data['BsmtCond'].fillna('NA')
all_data['BsmtQual']     = all_data['BsmtQual'].fillna('NA')
all_data['MasVnrArea']   = all_data['MasVnrArea'].fillna(0)
all_data['MasVnrType']   = all_data['MasVnrType'].fillna('None')
all_data['Electrical']   = all_data['Electrical'].fillna('SBrkr')
all_data['MSZoning']     = all_data['MSZoning'].fillna('RM')
all_data['Functional']   = all_data['Functional'].fillna('Typ')
all_data['BsmtFullBath'] = all_data['BsmtFullBath'].fillna(0)
all_data['BsmtHalfBath'] = all_data['BsmtFullBath'].fillna(0)
all_data['Utilities']    = all_data['Utilities'].fillna('AllPub')
#all_data['GarageArea']   = all_data['GarageArea'].fillna(0)
#all_data['BsmtFinSF2']   = all_data['BsmtFinSF2'].fillna(0)
#all_data['BsmtUnfSF']    = all_data['BsmtUnfSF'].fillna(0)
all_data['SaleType']     = all_data['SaleType'].fillna('Oth')
all_data['Exterior2nd']  = all_data['Exterior2nd'].fillna('Other')
all_data['Exterior1st']  = all_data['Exterior1st'].fillna('Other')
all_data['KitchenQual']  = all_data['KitchenQual'].fillna('TA')
all_data['GarageCars']   = all_data['GarageCars'].fillna(0)
#all_data['TotalBsmtSF']  = all_data['TotalBsmtSF'].fillna(0)

In [78]:
all_data['GarageYrBlt'].describe()
all_data['GarageYrBlt']  = all_data['GarageYrBlt'].fillna(1978)

In [79]:
print('MiscVal  == 0 percent -> %3.2f%%'%(100*(all_data['MiscVal'].values == 0).sum() / all_data['MiscVal'].values.shape[0] ))
print('PoolArea == 0 percent -> %3.2f%%'%(100*(all_data['PoolArea'].values == 0).sum() / all_data['PoolArea'].values.shape[0] ))

MiscVal  == 0 percent -> 96.47%
PoolArea == 0 percent -> 99.55%

In [80]:
all_data = all_data.drop('MiscVal', 1)
all_data = all_data.drop('PoolArea', 1)

print(all_data.isnull().sum().max())

0

In [81]:
numerical_data    = [var for var in all_data.columns if all_data.dtypes[var] != 'object']
categorical_data  = [var for var in all_data.columns if all_data.dtypes[var] == 'object']

numerical_data.remove('Id')
#numerical_data.remove('SalePrice')
print('Number of numerical data   : ', len(numerical_data))
print('Number of categorical data : ', len(categorical_data))

Number of numerical data   :  22
Number of categorical data :  39

## 3.3 Standarize Data

In [82]:
all_data = pd.get_dummies(all_data, columns=categorical_data)

scalers  = []
for name in all_data:
    if name == 'Id':
        continue
    x = all_data[name].values.astype(np.float32)
    x = x.reshape(-1,1)
    scaler = StandardScaler()
    scaler.fit(x)
    #scalers.append(scaler)
    all_data[name] = scaler.transform(x)

In [83]:
all_data.head()

,Id,MSSubClass,LotFrontage,OverallQual,OverallCond,YearRemodAdd,MasVnrArea,1stFlrSF,2ndFlrSF,LowQualFinSF,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1,0.067331,0.216075,0.646183,-0.507284,0.896833,0.529034,-0.773861,1.207379,-0.101197,...,-0.052423,-0.298629,-0.052423,0.395018,-0.263861,-0.064249,-0.09105,-0.126535,0.463937,-0.302693
1,2,-0.873616,0.664158,-0.063185,2.188279,-0.395604,-0.567016,0.261075,-0.785025,-0.101197,...,-0.052423,-0.298629,-0.052423,0.395018,-0.263861,-0.064249,-0.09105,-0.126535,0.463937,-0.302693
2,3,0.067331,0.305692,0.646183,-0.507284,0.848965,0.338903,-0.610718,1.235375,-0.101197,...,-0.052423,-0.298629,-0.052423,0.395018,-0.263861,-0.064249,-0.09105,-0.126535,0.463937,-0.302693
3,4,0.302568,0.066714,0.646183,-0.507284,-0.682812,-0.567016,-0.506205,0.978742,-0.101197,...,-0.052423,-0.298629,-0.052423,0.395018,3.789876,-0.064249,-0.09105,-0.126535,-2.155466,-0.302693
4,5,0.067331,0.783647,1.355551,-0.507284,0.753229,1.390216,-0.037170,1.671651,-0.101197,...,-0.052423,-0.298629,-0.052423,0.395018,-0.263861,-0.064249,-0.09105,-0.126535,0.463937,-0.302693

## 3.4 Get Train Data and Test Data

In [84]:
train_data = all_data[:1460]
test_data = all_data[1460:]

## 4. Model

In [85]:
def getPrediction(W, b, input_data):
    return np.sum(W*input_data) + b

def RMSE(Y, pred, m):
    return np.sqrt(np.mean(np.square(np.log(Y+1)-np.log(pred+1))))

def train(input_, err, lr):
    global W, b
    W = W  + lr * err * input_
    b = b  + lr * err

## 5. Training

In [86]:
train_data_values = train_data.values

In [87]:
train_input = train_data_values[:, 1:]
train_label_values = train_label.values
train_input = train_input.astype(np.float64)

In [102]:
n, m = train_input.shape
print('n = %d, m = %d'%(n,m))
W = np.random.normal(0.0, 0.001, m)
b = 0.0
def linear_regression(train_input, train_label):
    global W, b
    n, m    = train_input.shape
    pred_ar = np.ndarray(shape=(n,), dtype=np.float32)
    for i in range(1, 10001):
        for id in range(n):
            pred = getPrediction(W, b, train_input[id])
            err  = train_label_values[id] - pred
            train(train_input[id], err, 1e-6)

        #pred_ar[pred_ar < 0] = 0
        
        if (i%100 == 0):
            pred_ar = np.matmul(train_input,W) + b
            cc = pred_ar[pred_ar < 0].sum()
            loss = RMSE(train_label_values, pred_ar, m)
            print("ep : %5d loss = %.6f, count = %d"%(i, loss, cc))

linear_regression(train_input, train_label)

n = 1460, m = 272

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in log
  """

ep :   100 loss = nan, count = -19268382
ep :   200 loss = nan, count = -11918266
ep :   300 loss = nan, count = -6276881
ep :   400 loss = nan, count = -3307278
ep :   500 loss = nan, count = -1836709
ep :   600 loss = nan, count = -1065228
ep :   700 loss = nan, count = -677878
ep :   800 loss = nan, count = -415969
ep :   900 loss = nan, count = -259512
ep :  1000 loss = nan, count = -156719
ep :  1100 loss = nan, count = -96744
ep :  1200 loss = nan, count = -56746
ep :  1300 loss = nan, count = -27738
ep :  1400 loss = nan, count = -9536
ep :  1500 loss = nan, count = -1860
ep :  1600 loss = 0.243185, count = 0
ep :  1700 loss = 0.214796, count = 0
ep :  1800 loss = 0.195595, count = 0
ep :  1900 loss = 0.181067, count = 0
ep :  2000 loss = 0.169685, count = 0
ep :  2100 loss = 0.160617, count = 0
ep :  2200 loss = 0.153319, count = 0
ep :  2300 loss = 0.147403, count = 0
ep :  2400 loss = 0.142577, count = 0
ep :  2500 loss = 0.138619, count = 0
ep :  2600 loss = 0.135356, count = 0
ep :  2700 loss = 0.132652, count = 0
ep :  2800 loss = 0.130398, count = 0
ep :  2900 loss = 0.128510, count = 0
ep :  3000 loss = 0.126921, count = 0
ep :  3100 loss = 0.125575, count = 0
ep :  3200 loss = 0.124431, count = 0
ep :  3300 loss = 0.123452, count = 0
ep :  3400 loss = 0.122612, count = 0
ep :  3500 loss = 0.121887, count = 0
ep :  3600 loss = 0.121259, count = 0
ep :  3700 loss = 0.120712, count = 0
ep :  3800 loss = 0.120235, count = 0
ep :  3900 loss = 0.119817, count = 0
ep :  4000 loss = 0.119450, count = 0
ep :  4100 loss = 0.119125, count = 0
ep :  4200 loss = 0.118839, count = 0
ep :  4300 loss = 0.118585, count = 0
ep :  4400 loss = 0.118359, count = 0
ep :  4500 loss = 0.118159, count = 0
ep :  4600 loss = 0.117980, count = 0
ep :  4700 loss = 0.117820, count = 0
ep :  4800 loss = 0.117677, count = 0
ep :  4900 loss = 0.117549, count = 0
ep :  5000 loss = 0.117434, count = 0
ep :  5100 loss = 0.117332, count = 0
ep :  5200 loss = 0.117239, count = 0
ep :  5300 loss = 0.117157, count = 0
ep :  5400 loss = 0.117082, count = 0
ep :  5500 loss = 0.117016, count = 0
ep :  5600 loss = 0.116956, count = 0
ep :  5700 loss = 0.116902, count = 0
ep :  5800 loss = 0.116854, count = 0
ep :  5900 loss = 0.116811, count = 0
ep :  6000 loss = 0.116772, count = 0
ep :  6100 loss = 0.116737, count = 0
ep :  6200 loss = 0.116706, count = 0
ep :  6300 loss = 0.116679, count = 0
ep :  6400 loss = 0.116654, count = 0
ep :  6500 loss = 0.116633, count = 0
ep :  6600 loss = 0.116614, count = 0
ep :  6700 loss = 0.116597, count = 0
ep :  6800 loss = 0.116582, count = 0
ep :  6900 loss = 0.116569, count = 0
ep :  7000 loss = 0.116558, count = 0
ep :  7100 loss = 0.116548, count = 0
ep :  7200 loss = 0.116540, count = 0
ep :  7300 loss = 0.116533, count = 0
ep :  7400 loss = 0.116528, count = 0
ep :  7500 loss = 0.116523, count = 0
ep :  7600 loss = 0.116520, count = 0
ep :  7700 loss = 0.116517, count = 0
ep :  7800 loss = 0.116515, count = 0
ep :  7900 loss = 0.116514, count = 0
ep :  8000 loss = 0.116513, count = 0
ep :  8100 loss = 0.116513, count = 0
ep :  8200 loss = 0.116514, count = 0
ep :  8300 loss = 0.116515, count = 0
ep :  8400 loss = 0.116517, count = 0
ep :  8500 loss = 0.116519, count = 0
ep :  8600 loss = 0.116521, count = 0
ep :  8700 loss = 0.116524, count = 0
ep :  8800 loss = 0.116527, count = 0
ep :  8900 loss = 0.116531, count = 0
ep :  9000 loss = 0.116534, count = 0
ep :  9100 loss = 0.116538, count = 0
ep :  9200 loss = 0.116542, count = 0
ep :  9300 loss = 0.116546, count = 0
ep :  9400 loss = 0.116550, count = 0
ep :  9500 loss = 0.116555, count = 0
ep :  9600 loss = 0.116559, count = 0
ep :  9700 loss = 0.116564, count = 0
ep :  9800 loss = 0.116568, count = 0
ep :  9900 loss = 0.116573, count = 0
ep : 10000 loss = 0.116578, count = 0

## 6. Testing

In [203]:
test_data  = all_data[1460:]
test_data.head()


test_input = test_data.values.astype(np.float64)[:,1:]
#test_input       = test_data_values[:, 1:]
test_input       = test_input.astype(np.float32)

In [204]:
train_data.head()

,Id,LotFrontage,OverallQual,OverallCond,YearRemodAdd,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1,0.216075,0.646183,-0.507284,0.896833,1.087334,1.087334,0.781366,1.232599,0.169927,...,-0.052423,-0.298629,-0.052423,0.395018,-0.263861,-0.064249,-0.09105,-0.126535,0.463937,-0.302693
1,2,0.664158,-0.063185,2.188279,-0.395604,-0.818929,-0.818929,0.781366,-0.756321,0.169927,...,-0.052423,-0.298629,-0.052423,0.395018,-0.263861,-0.064249,-0.09105,-0.126535,0.463937,-0.302693
2,3,0.305692,0.646183,-0.507284,0.848965,1.087334,1.087334,0.781366,1.232599,0.169927,...,-0.052423,-0.298629,-0.052423,0.395018,-0.263861,-0.064249,-0.09105,-0.126535,0.463937,-0.302693
3,4,0.066714,0.646183,-0.507284,-0.682812,1.087334,1.087334,-1.027363,-0.756321,0.169927,...,-0.052423,-0.298629,-0.052423,0.395018,3.789876,-0.064249,-0.09105,-0.126535,-2.155466,-0.302693
4,5,0.783647,1.355551,-0.507284,0.753229,1.087334,1.087334,0.781366,1.232599,1.385655,...,-0.052423,-0.298629,-0.052423,0.395018,-0.263861,-0.064249,-0.09105,-0.126535,0.463937,-0.302693

In [205]:
n, m         = test_input.shape
pred_test_ar = np.matmul(test_input,W) + b

In [206]:
pred_pd = pd.DataFrame(pred_test_ar, columns=['SalePrice'])
out     = pd.concat([test_data['Id'],pred_pd], axis=1)
out

        Id      SalePrice
0     1461  101910.681458
1     1462  139103.651217
2     1463  160103.773905
3     1464  186975.270432
4     1465  201175.302763
5     1466  166927.197831
6     1467  169668.818425
7     1468  165651.285767
8     1469  194145.948323
9     1470  113866.972708
10    1471  155853.183734
11    1472   97763.304703
12    1473   89684.810807
13    1474  128183.363268
14    1475   78499.679668
15    1476  382118.702159
16    1477  254922.874687
17    1478  331085.468431
18    1479  331716.312881
19    1480  441954.166076
20    1481  304689.957488
21    1482  217283.516011
22    1483  157201.050622
23    1484  168717.272042
24    1485  200458.578433
25    1486  187127.548209
26    1487  343941.066705
27    1488  216166.947638
28    1489  191467.682691
29    1490  245794.174829
...    ...            ...
1429  2890   65342.368043
1430  2891  133579.839400
1431  2892   11324.280805
1432  2893   64554.233533
1433  2894   20112.226942
1434  2895  337956.536325
1435  2896  284657.207648
1436  2897  215461.359847
1437  2898  140518.798123
1438  2899  221368.642645
1439  2900  173342.002831
1440  2901  194014.165865
1441  2902  177897.195064
1442  2903  309662.487332
1443  2904  368484.443116
1444  2905   63819.691218
1445  2906  223308.261370
1446  2907  107938.445831
1447  2908  123185.610427
1448  2909  130860.241639
1449  2910   68686.423885
1450  2911   75715.962874
1451  2912  162598.603183
1452  2913   78226.820921
1453  2914   65457.243580
1454  2915   72946.850120
1455  2916   91335.963843
1456  2917  161698.623507
1457  2918   88069.465326
1458  2919  236017.229006

[1459 rows x 2 columns]

In [207]:
out.to_csv('all/regr_lin1.csv',index=False)
#tt1 = pd.read_csv('all/regr_lin.csv')

In [208]:
pd.read_csv('all/regr_lin.csv')

        Id      SalePrice
0     1461  111987.949920
1     1462  159006.541023
2     1463  181751.497798
3     1464  199622.458834
4     1465  201850.044658
5     1466  173166.025728
6     1467  174004.580737
7     1468  166031.810086
8     1469  195481.759694
9     1470  119611.517105
10    1471  176446.984240
11    1472   97128.180903
12    1473   95197.834743
13    1474  145214.909159
14    1475   98215.837455
15    1476  368528.285646
16    1477  250588.963206
17    1478  300927.100169
18    1479  311517.509513
19    1480  439529.986664
20    1481  305447.537848
21    1482  217183.192059
22    1483  175289.558990
23    1484  171330.480950
24    1485  191249.415170
25    1486  199604.114846
26    1487  345562.053230
27    1488  224242.352119
28    1489  200198.957377
29    1490  243571.129299
...    ...            ...
1429  2890   75526.148785
1430  2891  140716.036580
1431  2892   18259.151284
1432  2893   63177.252458
1433  2894   33077.850435
1434  2895  338100.856033
1435  2896  289210.158860
1436  2897  212188.371047
1437  2898  141167.421875
1438  2899  217748.347590
1439  2900  162416.845271
1440  2901  206601.075517
1441  2902  182401.102693
1442  2903  308277.494206
1443  2904  347953.606303
1444  2905   61416.176168
1445  2906  197562.630812
1446  2907  116688.658729
1447  2908  121054.924769
1448  2909  142615.423346
1449  2910   71871.077136
1450  2911   79779.707297
1451  2912  160052.903958
1452  2913   74885.987368
1453  2914   72754.248216
1454  2915   77510.172444
1455  2916   81104.345055
1456  2917  165805.944199
1457  2918  111293.841958
1458  2919  222493.709394

[1459 rows x 2 columns]